github "nerdishbynature/octokit.swift"
github "nerdishbynature/RequestKit" "2.3.0"
github "Quick/Quick" "master"
github "Quick/Nimble" "master"
github "soffes/SSKeychain" "master"
github "Ben-G/ListKit"
github "ReSwift/ReSwift" "master"
github "ReSwift/ReSwiftRouter" "master"
