github "nerdishbynature/octokit.swift" ~> 0.7.0
github "Quick/Quick"
github "Quick/Nimble"
github "soffes/SSKeychain"
github "Ben-G/ListKit"
github "ReSwift/ReSwift" ~> 4.0.0
github "ReSwift/ReSwiftRouter" "master"
